<!DOCTYPE html>
<html lang="en">
<style>
h1 {text-align: center;}
h2 {text-align: center;}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  background-color: RoyalBlue;
}

</style>
  <head>
    {{>head}}
  </head>
  <body id="samples">

    

          {{^isLoggedIn}}
            <p>Please login!</p>
          {{/isLoggedIn}}

          {{#isLoggedIn}}
          
           <h2>Link to video</h2>
            <h1>https://www.youtube.com/watch?v=8t9h25DNNgU</h1>

            <h2>Link to report<h2>
            <a href="https://firebasestorage.googleapis.com/v0/b/btn710group4.appspot.com/o/Deliverable3Report.docx?alt=media&token=d70647cd-8b0d-4c04-8c49-260f8f969edd">
            <button class="btn"><i class="fa fa-download"></i> Download Report</button>
            </a>
                      {{/isLoggedIn}}



          {{^isLoggedIn}}
            <form method="get" action="/login">
              <button id="login-button" class="ui primary button" type="submit">Log In</button>
            </form>
          {{/isLoggedIn}}
        </div>
      </div>

     

    </div>
  </body>
</html>
